<!DOCTYPE html>
<html>
<head>
  <title>AutocompleteImage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<script type="text/javascript">
  jQuery(document).ready(function($) {
$('#user_name').autocomplete({
 minLength: 1,
 source: "<%= @users_search %>",

 focus: function(event, ui){
   $('#user_name').val(ui.item.name);
   return false;
 },
 select: function(event, ui){
 $('#user_name').val(ui.item.name);
 return false;
 }
})

.data("autocomplete")._renderItem = function(ul,item){
  return $("<li></li>")
  .data("item.autocomplete",item)
  .append("<a>"+"<img src='" + "/assets/users/" + item.id + "/thumb/" + item.avatar_file_name  +"'>"  + item.first_name + " " + item.last_name + "<br>" + item.name  +  "</a>" )
  .appendTo(ul);
};

});
</script>
</html>
